<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="/data" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <defaultDocument>
      <!-- Set the default document -->
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
